body{
    background-color: rgba(22, 24, 25, 0.95);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Monospaced, sans-serif;
    font-size: 20px;
}

.listUsers{
    position: relative;
    background-color: rgb(245, 239, 239);
    display: flex;
    flex-direction: column;
    width: 15%;
    color: #d95a0f;
    padding: 20px;
    border: 3px solid #FA751D;
    border-radius: 25px;
    box-shadow: 0 0 10px 6px #FA751D;
    margin:15px;
    height:70%;
}

.chat {
    background-color: rgb(245, 239, 239);
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #d95a0f;
    padding: 20px;
    border: 3px solid #FA751D;
    border-radius: 25px;
    box-shadow: 0 0 10px 6px #FA751D;
    margin:15px;
    height:70%;
}

.chat-messages {
    min-height:93%;
    max-height:93%;
    overflow:auto;
}

.chat-messages__content {
    padding:1px;
}

.chat__message {
    border-left:3px solid #333;
    margin-top:2px;
    padding:2px;
}

.chat__message_black {
    border-color:#000;
}

.chat__message_blue {
    border-color:blue;
}

.chat__message_green {
    border-color:green;
}

.chat__message_red {
    border-color:red;
}

.chat-input {
    min-height:6%;
}
input:hover{
    box-shadow: 0 0 15px 3px #97b399;
    border: 2px solid #97b399;
}

input:focus
{
    box-shadow: 0 0 15px 3px #cee09e;
    border: 2px solid #cee09e;
    outline: none;
}

input{
    padding: 10px;
    border: 2px solid #FA751D;
    color: #FA751D;
    border-radius: 30px;
}

.chat-form{
    display: flex;
    justify-content: space-between;
}

.chat-form__input {
    margin-bottom: 10%;
    width:70%;
}

.chat-form__submit {
    width:20%;
}

.logout{
    position: absolute;
    bottom: 3%;
    left: 10%;
    width: 80%;
}
