<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <script src="../assets/js/http_code.jquery.com_jquery-3.6.0.js"></script>
</head>
<body>
    <div class="container" style="...">
        <div id="message" style="...">

        </div>
        <textarea name="text" placeholder="Введите сообщение" style="..."></textarea>
        <audio></audio>
    </div>
    <script>
        $('textarea').on('keyup', function (event)
        {
           if(event.keyCode === 13){
               $(this).val('');
           }
        });
    </script>
</body>
</html>