<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="../assets/css/chat.css">

    <script src="../assets/js/http_code.jquery.com_jquery-3.6.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/sockjs/1.1/sockjs.min.js" type="text/javascript"></script>
    <script src="../assets/js/centrifuge.js" type="text/javascript"></script>
</head>
<body>
    <div class='chat'>
        <div class='chat-messages'>
            <div class='chat-messages__content' id='messages'>
                Загрузка...
            </div>
        </div>
        <div class='chat-input'>
            <form method='post' class="form_message" id='chat-form'>
                <input type='text' id='message-text' class='chat-form__input' placeholder='Введите сообщение'> <input type='submit' id="send" class='chat-form__submit' value='Отправить'>
            </form>
        </div>
    </div>
    <script>
        $('input').on('keyup', function (event)
        {
           if(event.keyCode === 13){

               $(this).val('');
           }
        });
    </script>
    <script type="text/javascript" src="http://chat.api.loc/index.php"></script>
    <!--<script src="../assets/js/connect_centrifugo.js"></script>-->
</body>
</html>